<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
<mimeMap fileExtension=".mem" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".unity3d" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".unityweb" mimeType="application/binary" />
            <mimeMap fileExtension=".men" mimeType="applicaation/octet-stream" />
            <mimeMap fileExtension=".data" mimeType="applicaation/octet-stream" />
            <mimeMap fileExtension=".memgz" mimeType="applicaation/octet-stream" />
            <mimeMap fileExtension=".datagz" mimeType="applicaation/octet-stream" />
            <mimeMap fileExtension=".unity3dgz" mimeType="applicaation/octet-stream" />
            <mimeMap fileExtension=".jsgz" mimeType="applicaation/x-javascript" />
        </staticContent>
<httpProtocol>
               <customHeaders>
                   <add name="Access-Control-Allow-Origin" value="*" />
               </customHeaders>
           </httpProtocol>
    </system.webServer>
</configuration>
